<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

    <input type="checkbox" id="trang_check">
    <nav class="nav"> 
        <header >
            <label for="trang_check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <div class="left_area">
                <h3>THÔNG <label>BÁO</label></h3>
            </div>
            <div class="right_area">
                <a href="/logout" class="logout_btn">Logout</a>
            </div>
        </header>
    </nav>



    <div class="sidebar">

        <div class="iconList">

            <div class="circle">
                HN
            </div>
            <ul>
            
                <li>
                    <a class="trangchu"><i class="fa fa-home"></i><label title="Trang chủ">Trang chủ</label></a>
                </li>

                <li>
                    <a><i class="fas fa-list"></i><label title="Phân loại thông báo">Phân loại thông báo</label><label class="fas fa-chevron-left showList" ></label></a>

                    <ul class="listMessage">

                        <li>
                            <a><i class="fas fa-users"></i><label title="Đơn vị">Đơn vị</label><label class="fas fa-chevron-left showList"></label></a>
                        </li>

                        <li>
                            <a><i class="fas fa-image"></i><label title="Chủ đề">Chủ đề</label><label class="fas fa-chevron-left showList"></label></a>
                        </li>

                        <li>
                            <a><i class="fas fa-globe"></i><label title="Tất cả thông báo">Tất cả thông báo</label></a>
                        </li>

                    </ul> 
                </li>
                
            </ul>
         

            

            </a>
            <a ><i class="fas fa-bullhorn"></i><label title="Cổng thông tin">Cổng thông tin</label><label class="fas fa-chevron-left showList" ></label>
            
                
        </div>

        <div class="logout-profile">

            <a href="#"><i class="fas fa-sign-out-alt"></i><label>Logout</label></a>
        </div>
        <div class="logout-profile">
            <a href="/register"><i class="fas fa-sign-out-alt"></i><label>Tạo tài khoản khoa</label></a>
        </div>
        <div class="logout-profile">
            <a href="/manageaccount"><i class="fas fa-sign-out-alt"></i><label>Quản lí tài khoản khoa</label></a>
        </div>
   



    </div>

    <div class="content">
        <div class="container-userInfo">
            <div class="title-userInfo">Thông tin cá nhân</div>

            <div class="container-picture">
                <div class="wrapper-picture">
                   <div class="image">
                      <img src="" alt="">
                   </div>
                   <div class="content-picture">
                      <div class="icon">
                         <i class="fas fa-cloud-upload-alt"></i>
                      </div>
                      <div class="text-picture">
                         Ảnh chưa chọn!
                      </div>
                   </div>
                   <div id="cancel-btn">
                      <i class="fas fa-times"></i>
                   </div>
                </div>
                <button onclick="defaultBtnActive()" id="custom-btn">Chọn ảnh</button>
                <input id="default-btn" type="file" hidden>
           </div>



            <div class="content-userInfo">
                <form action="#">

                  <div class="user-details">
                    <div class="input-box">
                      <label  class="details">Họ và tên</label>
                      <input type="text" placeholder="<%= username %>  " >
                    </div>
                    <div class="input-box">
                      <label  class="details">Lớp</label>
                      <input  type="text" placeholder="" >
                    </div>
                    <div class="input-box">
                      <label class="details">Khoa</label>
                      <input type="text" placeholder="<%= role %> " >
                    </div>
                    <div class="input-box">
                        <label class="details">Email</label>
                        <input disabled type="text" placeholder="{{email}}">
                    </div>
                     <div class="input-box">
                      <label class="details">Mật khẩu mới</label>
                      <input type="text" placeholder="Điền mật khẩu mới" >
                    </div>
                    <div class="input-box">
                      <san class="details">Xác nhận mật khẩu mới</label>
                      <input type="text" placeholder="Xác nhận mật khẩu mới" >
                    </div>
                  </div>
                  <div class="button">
                    <input type="submit" value="Xác nhận thay đổi">
                  </div>
                </form>
              </div>
        </div>
       
    </div>















</body>




<script>
    let a=0;
    $('.iconList a').click(function()
    {
        if (a===0)
        {
            $('.iconList a:hover .showList').css('transform', 'rotate(-90deg)');
            a=1;
        }
        else 
        {
            a=0;
            $('.iconList a:hover .showList').css('transform', 'rotate(0deg)');
   
            
        }
    });

</script>

</html>