<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="public/style.css"> -->
</head>
<body>
    <h1 class="">
        Hello
    </h1> 
    <table>
        <tbody>

        <% 
        userPosts.forEach(e => {
            %>

        <tr>
            <td><%=e.userID %></td>
            <td><%=e.desc %></td>
            <td><%=e.createdAt %></td>
            <td><%=e.updatedAt %></td>
        <tr>

        <%    
        });
        // userPosts
        %>
            

        </tbody>
    </table>


</body>
</html>